.center {
  width: 50%;
  margin: auto;
}

.centered {
  margin: auto;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.small {
  font-size: small;
  margin: auto;
  padding: 0.5em;
}

body {
  margin: 0;
}

.gray {
  color: gray
}

.error {
  color: red
}

.success {
  color: green
}

.simpleButton {
  color: white;
  text-decoration: underline;
  margin: 0 0.3em;
  padding:0;
  background:none;
  border:none;
  cursor: pointer;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.menuButton {
  flex-grow: 1;
  padding: 0 1em;
  text-align: center;
}

.menuButton > button {
  color: white;
  font-size: 30px;
  margin:0;
  padding:0;
  background:none;
  border:none;
  cursor: pointer;
}

header {
  background-color: #335;
  color: #FFF;
  padding: 5px;
}
