input, select {
  border: solid #557;
  border-radius: 5px;
  font-size: large;
  height: 1.5em;
  max-width: 20em;
  text-align: center;
  width: -webkit-calc(100% - 5px);
  width:    -moz-calc(100% - 5px);
  width:         calc(100% - 5px);
}

select {
  width: 100%;
}

.answerbar {
  margin: 2em;
}

.answerbar input, .synonymbar input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.answerbar button, .synonymbar button {
    border-bottom-left-radius: 0;
    border-left: none;
    border-top-left-radius: 0;
}

.answerbar input {
  width: 70%;
}

.answerbar button {
    border-color: #446;
    font-size: large;
    padding: 0.24em 0.8em;
}

.synonymbar {
  margin: 0.5em 0;
}

.synonymbar input{
  font-size: small;
  width: 8em;
}

.synonymbar button{
  background-color: #335;
  border: none;
  color: white;
  font-size: small;
  padding: 0.48em 0.8em;
}
