.package {
  margin: 1em 0;
  border: solid;
  border-color: gray;
  border-radius: 5px;
  padding: 5px;
}

.word {
  background-color: LightBlue;
  margin: 5px;
}

.perfectWord {
  background-color: gold;
  margin: 5px;
}

.unknownWord {
  background-color: gray;
  margin: 5px;
}

.details {
  margin: 0.2em;
  padding: 1em;
  border-left: solid;
  border-width: 0.5em;
  border-color: LightBlue;
  background-color: #D8FFFD;
}
