body {
  margin: 0;
}

.error {
  color: red
}

.success {
  color: green
}

.banner {
  background-color: #335;
  color: #FFF;
  padding: 5px;
}

.center {
  width: 50%;
  margin: auto;
}

.right {
  float: right;
}

.linkcase {
  margin: auto;
  text-align: center;
}

.linkback {
  border-top: solid;
  border-color: #446;

  padding: 1em 0;
  background-color: #335;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.package {
  border: solid;
  border-color: gray;
  border-radius: 5px;
  padding: 5px;
}

.word {
  background-color: LightBlue;
  margin: 5px;
}

.details {
  margin: 0.2em;
  padding: 1em;
  border-left: solid;
  border-width: 0.5em;
  border-color: LightBlue;
  background-color: #D8FFFD;
}

.answerBar {
  margin: 2em;
}
